.title {
    color: #02ccba;
}

.header {
    background-color: lightcyan;
    font-size: 50px;
}

.subheader {
    font-size: 30px;
    text-align: right;
    vertical-align: auto;
    font-weight: normal;
}

.main_body {
    font-size: 20px;
    font-weight: bold;
    width: auto;
}

.video {
    width: auto;
}

.stats {
    background-color: whitesmoke;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.distance {
    background-color: gold;
    width: 237px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}

.states {
    background-color: gold;
    text-align: center;
    width: 135px;
    font-weight: normal;
    font-size: 20px;
}

.footer {
    background-color: black;
    font-size: 35px;
    color: white;
}

.footerlinks {
    background-color: black;
    color: white;
    text-align: right;
    font-size: 20px;
}