.Title {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.subtitle {
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.word1 {
    margin-left: 20px;
}

.word2 {
    margin-left: 20px;
    margin-right: 20px;
}

.text1 {
    display: flex;
    justify-content: space-between;
}

.text12 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text22 {
    margin-left: 1px;
    text-align: left;
}

.type1,
.type2 {
    text-align: center;
}

.type1 {
    background-color: chartreuse;
    width: auto;
    height: auto;
}

.type2 {
    background-color: darkslategrey;
    width: auto;
    height: auto;
}

.type3 {
    text-align: center;
}

.footer {
    background-color: black;
    text-align: center;
    color: white;
}

.footer1 {
    font-size: 23px;
    font-weight: bold;
}

.footer2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: lighter;
}

.footer3 {
    display: flex;
    justify-content: space-evenly;
}